
<table class="publication-table">
    {% for paper in publications %}
    <tr>
        <td class="paper-year">{{ paper.year }}</td>
        <td class="paper-info"><strong><a class ="paper-title" href="{{ paper.url }}" target="_blank">{{ paper.title }}.</a></strong>
        {% for author in paper.authors %}
            {% case author %}
                {% when "Tejas Kasetty" %}
                    <b>{{ author }}</b>
                {% else %}{{ author }}{% endcase %}{% unless  forloop.last %}, {% endunless %}{% endfor %}.
        <em>{{ paper.venue }}</em>{{}}
        </td>
    </tr>
    {% endfor %}
</table>